---
layout: default
---
{% assign lang = page.lang | default: "en" %}
{% assign app_data = site.data.app %}
{% assign strings_data = site.data.strings %}
{% if lang == "zh" %}
  {% assign app_data = site.data.app_zh %}
  {% assign strings_data = site.data.strings_zh %}
{% elsif lang == "ja" %}
  {% assign app_data = site.data.app_ja %}
  {% assign strings_data = site.data.strings_ja %}
{% endif %}
<header class="app__header container">
  <div class="app__logo-wrapper">
    <img class="app__logo" src="/assets/images/appicon.png" alt="{{ app_data.name }} Icon">
  </div>
  <div class="app__infos">
    <h1 class="app__name">{{ app_data.name }}</h1>
    <p class="app__description">{{ app_data.description }}</p>
    <div class="app__buttons app__buttons--desktop">
      {% if app_data.android != false %}
      <a href="{{ app_data.android }}" class="app__button-play" target="_blank"><img src="/assets/images/google-play-badge.png" alt="Get on Google Play"></a>
      {% endif %}
      {% if app_data.iOS != false %}
      <a href="{{ app_data.iOS }}" class="app__button-ios" target="_blank"><img src="/assets/images/ios.svg" alt="Get on Appstore"></a>
      {% endif %}
      {% if app_data.web != false %}
      <a href="{{ app_data.web }}" class="app__button-web" target="_blank"><img src="/assets/images/pwa-badge.png" alt="Go to website"></a>
      {% endif %}
    </div>
  </div>
</header>
<div class="app__buttons app__buttons--mobile container">
  {% if app_data.android != false %}
  <a href="{{ app_data.android }}" class="app__button-play" target="_blank"><img src="/assets/images/google-play-badge.png" alt="Get on Google Play"></a>
  {% endif %}
  {% if app_data.iOS != false %}
  <a href="{{ app_data.iOS }}" class="app__button-ios" target="_blank"><img src="/assets/images/ios.svg" alt="Get on Appstore"></a>
  {% endif %}
  {% if app_data.web != false %}
  <a href="{{ app_data.web }}" class="app__button-web" target="_blank"><img src="/assets/images/pwa-badge.png" alt="Go to website"></a>
  {% endif %}
</div>
<section class="app__screenshots app__section">
  <div class="container">
    <h2 class="app__section-title">{{ strings_data.app.screenshots }}</h2>
  </div>
  <div class="app__screenshots-wrapper container-desktop">
    <div class="app__screenshots-list">
      {% for screenshot in app_data.screenshots %}
      <a href="/assets/images/screenshots/{{ screenshot }}" class="lightbox">
       <img src="/assets/images/screenshots/{{ screenshot }}" class="app__screenshot">
      </a>
      {% endfor %}
    </div>
  </div>
</section>
<section class="app__fulldescription app__section container">
  <h2 class="app__section-title">{{ strings_data.app.description }}</h2>
  <div class="app__fulldescription-content">
    <p>{{ app_data.full_description }}</p>
  </div>
</section>
<section class="app__featured app__section container">
  <h2 class="app__section-title">{{ strings_data.app.featured }}</h2>
</section>
